:root {
  /* Text Sizes */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2.125rem;
  --text-3xl: 2.625rem;
  --text-4xl: 3.5rem;
  --text-5xl: 4.5rem;

  /* Colors */
  --text-color: #3d4663;
  --heading-color: #283044;
  --link-color: #11c;
  --gray: #6474a2;
  --background-white: #fff;
  --background-cream: #f1f1e6;
  --border-color: rgb(0 0 0 / 10%);
}

html,
body {
  height: 100%;
  width: 100vw;
}

body {
  background-color: var(--background-white);
  color: var(--text-color);
  font-family: roboto, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI',
    oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;

  /** 1rem = 16px 0px ~ 750px で 16 ~ 24 px を可変にする */
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--link-color);
  text-decoration: none;
  text-underline-offset: 0.1em;
  transition: 0.2s ease-out;
}

a:hover {
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
  font-weight: 600;
  color: var(--heading-color);
}

h1 {
  font-size: var(--text-5xl);
}

h2 {
  font-size: var(--text-4xl);
}

h3 {
  font-size: var(--text-3xl);
}

h4 {
  font-size: var(--text-2xl);
}

h5 {
  font-size: var(--text-xl);
}

@media screen and (width <= 768px) {
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
  }

  h1 {
    font-size: var(--text-4xl);
  }

  h2 {
    font-size: var(--text-3xl);
  }

  h3 {
    font-size: var(--text-2xl);
  }

  h4 {
    font-size: var(--text-xl);
  }

  h5 {
    font-size: var(--text-lg);
  }
}
