---
import { Icon } from 'astro-icon';
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div>
    <header class="nav-header">
      <img src="/assets/logo.png" width="120px" height="120px" alt="翔ラボのロゴ"/>
      <nav>
        <ul class="nav-items">
          <li class="nav-item"><a href="#about">About</a></li>
          <li class="nav-item"><a href="#experience">Experience</a></li>
          <li class="nav-item"><a href="#skills">Skills</a></li>
          <li class="nav-item"><a href="#services">Services</a></li>
          <li class="nav-item"><a href="#works">Works</a></li>
          <li class="nav-item"><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="top-container">
          <div class="top-message">
            <h1>Webの力で<br>未来に羽ばたく</h1>
            <p class="text-secondary">I'm a web developer.</p>
          </div>
      </div>
      <section class="section">
        <h2 id="about" class="section-title">About</h2>
        <div class="about-contents">
          <img src="/assets/logo.png" width="240px" height="240px" alt="翔ラボのロゴ" />
          <p class="description">フリーランスのWebエンジニア。新卒でソフトウェア開発に携わり始め、受託開発会社・教育系事業会社で約5年Webを中心としたサービス開発に従事して参りました。フロントエンド開発に関心が強いですが、フロントエンドからサーバーサイド、クラウドにおけるIaCを主としたアプリケーションのインフラ構築まで幅広く取り組んできております。</p>
        </div>
      </section>
      <section class="section">
        <h2 id="experience" class="section-title">Experience</h2>
        <div class="description experience-wrapper">
          <p>主に以下開発をこれまで経験してきました。</p>
          <ul>
            <li>開発/移行</li>
            <ul>
              <li>スクラム開発でのWebサービス新規機能開発</li>
              <li>アプリケーションデプロイ、実行環境の移行(AWS EC2 & CodeDeploy → ECS & CircleCI)</li>
              <li>PHPからRubyへの書き換え</li>
              <li>Ruby on RailsやAngular、jQueryのメジャーバージョンアップ</li>
              <li>GA導入</li>
            </ul>
            <li>改善</li>
            <ul>
              <li>Docker導入での開発環境改善</li>
              <li>CIの実行時間改善</li>
            </ul>
          </ul>
          <p>その他詳細な経歴は<a href="https://github.com/flyhighair/Curriculum-Vitae" target="_blank" rel="noopener">こちら</a>をご覧ください。</p>
        </div>
      </section>
      <section class="section">
        <h2 id="skills" class="section-title">Skills</h2>
        <div class="skills-container">
          <ul class="skills-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>TypeScript</li>
            <li>Ruby</li>
            <li>Git</li>
            <li>Docker</li>
            <li>Terraform</li>
            <li>AWS</li>
            <li>Next.js</li>
            <li>React</li>
            <li>Angular</li>
            <li>Ruby on Rails</li>
          </ul>
        </div>
      </section>
      <section class="section">
        <h2 id="services" class="section-title">Services</h2>
        <div class="service-container">
          <div class="service-wrapper">
            <img src="/assets/service-1.png" alt="HTML/CSSのコード">
            <div class="service">
              <h3>HTML/CSSコーディング</h3>
              <p class="description">ご用意いただいたデザインを元に、適切なコーディングを行います。</p>
            </div>
          </div>
          <div class="service-wrapper">
            <img src="/assets/service-2.png" alt="PCに向かっている男">
            <div class="service">
              <h3>Webサービス開発</h3>
              <p class="description">スクラムを始めとしたチーム開発に従事いたします。実装だけでなく、運用保守や自動テストの追加、課題解決にも取り組みます。</p>
            </div>
          </div>
          <div class="service-wrapper">
            <img src="/assets/service-3.png" alt="メンテナンスを行っている姿">
            <div class="service">
              <h3>フレームワークバージョンアップ作業</h3>
              <p class="description">RailsやAngularなどフレームワークのバージョンアップ作業を行います。</p>
            </div>
          </div>
          <div class="service-wrapper">
            <img src="/assets/service-4.jpg" width="314px" height="185px" alt="螺旋階段">
            <div class="service">
              <h3>CI/CD改善</h3>
              <p class="description">キャッシュによる実行時間の改善やフローの改善を行います。</p>
            </div>
          </div>
          <div class="service-wrapper">
            <img src="/assets/service-5.jpg" width="314px" height="185px" alt="コンテナを積んだタンカー">
            <div class="service">
              <h3>開発環境改善</h3>
              <p class="description">Dockerなどを使い、開発環境の課題改善を行います。</p>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <h2 id="works" class="section-title">Works</h2>
        <div class="work-card-list">
          <a href="/work/hoge" >
            <div class="work-card">
              <img src="/assets/service-5.jpg" class="work-image" alt="制作物">
              <h5 class="work-title">GitHub Repo Search</h5>
            </div>
          </a>
          <a href="/work/hoge" >
            <div class="work-card">
              <img src="/assets/service-5.jpg" class="work-image" alt="制作物">
              <h5 class="work-title">翔ラボポートフォリオ</h5>
            </div>
          </a>
          <a href="/work/hoge" >
            <div class="work-card">
              <img src="/assets/service-5.jpg" class="work-image" alt="制作物">
              <h5 class="work-title">翔ラボブログ</h5>
            </div>
          </a>
          <a href="/work/hoge" >
            <div class="work-card">
              <img src="/assets/service-5.jpg" class="work-image" alt="制作物">
              <h5 class="work-title">solargraph-docker</h5>
            </div>
          </a>
        </div>
      </section>
      <section class="section">
        <h2 id="contact" class="section-title">Contact</h2>
        <div class="contact-container">
          <p class="description">興味を持った方は以下フォームもしくはSNSのDMにてお問い合わせください。</p>
          <p>※フォームはスパム対策のためGoogleアカウントでのログインが必要となります。ご了承ください。</p>
          <div class="contact-link">
            <a href="https://forms.gle/tNx7wpq9uM73xW3k6" target="_blank" rel="noopener">お問い合わせフォームへ<Icon name="octicon:link-external-16" class="contact-icon" width="26px" height="26px"></Icon></a>
          </div>
          <div class="icon-wrapper">
            <a href="https://twitter.com" target="_blank" rel="noopener"><Icon name="ph:twitter-logo-fill" width="40px" height="40px"></Icon></a>
            <a href="https://github.com/flyhighair" target="_blank" rel="noopener"><Icon name="ion:logo-github" class="github-icon" width="40px" height="40px"></Icon></a>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <small>© 2023 翔ラボ</small>
    </footer>
    </div>
</BaseLayout>

<style>
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(170 160 170 / 80%);
    height: 80px;
    position: sticky;
    top: 0;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    padding: 10px;
    list-style: none;
  }

  .nav-item > a {
    text-decoration: none;
      color: #000;
  }

  .top-container {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('/assets/top-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .top-message {
    text-align: left;
    margin-left: 24px;
  }

  .section {
    margin-top: 48px;
  }

  .section-title {
    text-align: center;
  }

  .about-contents {
    display: flex;
    justify-content: center;
    justify-items: start;
    align-items: center;
    margin: 8px 64px
  }

  .description {
    font-size: 24px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
  }

  .experience-wrapper {
    width: 70%;
    margin: 48px auto;
  }

  .skills-container {
    font-size: 24px;
    margin: 24px 36px;
  }

  .skills-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 120px);
    column-gap: 60px;
    row-gap: 10px;
  }

  .skills-list > li {
    list-style: none;
    background-color: #F1F1E6;
    width: 160px;
    text-align: center;
    border-radius: 6px;
  }

  .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    align-items: center;
    column-gap: 24px;
    row-gap: 12px;
    margin: 0 36px;
  }

  .service-wrapper {
    display: flex;
    align-items: center;
    margin: 24px 0;
  }

  .service {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .service > h3 {
    margin-bottom: 8px;
    text-decoration: underline 0.3em rgb(178 190 234 / 40%);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
  }

  .work-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    gap: 2rem;
    margin: 24px 36px;
  }

  .work-card {
    width: 400px;
    background: #fff;
    border-radius: 2em;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    text-align: center;
    overflow: hidden;
  }

  .work-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
  }

  .work-title {
    padding: 12px;
  }

  .contact-container {
    margin: 24px 36px;
    text-align: center;
  }

  .contact-link {
    margin-top: 24px;
    font-size: 24px;
  }

  .contact-icon {
    position: relative;
    top: 4px;
  }

  .footer {
    text-align: center;
    margin: 36px 0;
  }
</style>
