---
import Logo from './Logo.astro';
---

<div class="container">
  <Logo width={240} height={240} />
  <p class="description">
    フリーランスのWebエンジニア。新卒でソフトウェア開発に携わり始め、受託開発会社・教育系事業会社で約5年Webを中心としたサービス開発に従事して参りました。フロントエンド開発に関心が強いですが、フロントエンドからサーバーサイド、クラウドにおけるIaCを主としたアプリケーションのインフラ構築まで幅広く取り組んできております。
  </p>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
    justify-items: start;
    align-items: center;
  }
</style>
