---
import { Icon } from 'astro-icon';
import ExternalLink from './ExternalLink.astro';
---

<div class="container">
  <p class="description">
    興味を持った方は以下フォームもしくはSNSのDMにてお問い合わせください。
  </p>
  <p>
    ※フォームはスパム対策のためGoogleアカウントでのログインが必要となります。ご了承ください。
  </p>
  <div class="link">
    <ExternalLink link="https://forms.gle/tNx7wpq9uM73xW3k6">
      お問い合わせフォームへ<Icon
        name="octicon:link-external-16"
        class="icon"
        width="26px"
        height="26px"
      />
    </ExternalLink>
  </div>
</div>

<style>
  .container {
    text-align: center;
  }

  .link {
    margin-top: 24px;
    font-size: 24px;
  }

  .icon {
    position: relative;
    top: 4px;
  }
</style>
