---
import { Icon } from 'astro-icon';
---

<div class="contact-container">
  <p class="description">
    興味を持った方は以下フォームもしくはSNSのDMにてお問い合わせください。
  </p>
  <p>
    ※フォームはスパム対策のためGoogleアカウントでのログインが必要となります。ご了承ください。
  </p>
  <div class="contact-link">
    <a href="https://forms.gle/tNx7wpq9uM73xW3k6" target="_blank" rel="noopener"
      >お問い合わせフォームへ<Icon
        name="octicon:link-external-16"
        class="contact-icon"
        width="26px"
        height="26px"
      /></a
    >
  </div>
  <div class="icon-wrapper">
    <a href="https://twitter.com" target="_blank" rel="noopener"
      ><Icon name="ph:twitter-logo-fill" width="40px" height="40px" /></a
    >
    <a href="https://github.com/flyhighair" target="_blank" rel="noopener"
      ><Icon
        name="ion:logo-github"
        class="github-icon"
        width="40px"
        height="40px"
      /></a
    >
  </div>
</div>

<style>
  .contact-container {
    margin: 24px 36px;
    text-align: center;
  }

  .contact-link {
    margin-top: 24px;
    font-size: 24px;
  }

  .contact-icon {
    position: relative;
    top: 4px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
  }

  .icon-wrapper {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 16px;
  }
</style>
