---
import ExternalLink from './ExternalLink.astro';
---

<div class="container">
  <p>興味を持った方は以下フォームもしくはSNSのDMにてお問い合わせください。</p>
  <p>
    ※フォームはスパム対策のためGoogleアカウントでのログインが必要となります。ご了承ください。
  </p>
  <div class="link">
    <ExternalLink link="https://forms.gle/tNx7wpq9uM73xW3k6">
      お問い合わせフォームへ
    </ExternalLink>
  </div>
</div>

<style>
  .container {
    text-align: center;
  }

  .link {
    margin-top: 24px;
    font-size: 24px;
  }

  .icon {
    position: relative;
    top: 4px;
  }
</style>
