---
---

<div class="description container">
  <p>主に以下開発をこれまで経験してきました。</p>
  <ul>
    <li>開発/移行</li>
    <ul>
      <li>スクラム開発でのWebサービス新規機能開発</li>
      <li>
        アプリケーションデプロイ、実行環境の移行(AWS EC2 & CodeDeploy → ECS &
        CircleCI)
      </li>
      <li>PHPからRubyへの書き換え</li>
      <li>Ruby on RailsやAngular、jQueryのメジャーバージョンアップ</li>
      <li>GA導入</li>
    </ul>
    <li>改善</li>
    <ul>
      <li>Docker導入での開発環境改善</li>
      <li>CIの実行時間改善</li>
    </ul>
  </ul>
  <p>
    その他詳細な経歴は<a
      href="https://github.com/flyhighair/Curriculum-Vitae"
      target="_blank"
      rel="noopener">こちら</a
    >をご覧ください。
  </p>
</div>

<style>
  .container {
    width: 70%;
    margin: 48px auto; /* TODO: 使う側に設定 */
  }
</style>
