---
import ExternalLink from './ExternalLink.astro';
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="group">
    <p>
      Developed with <ExternalLink link="https://astro.build/">
        Astro
      </ExternalLink>
    </p>
    <p>&copy; {currentYear} 翔ラボ</p>
  </div>
  <p class="socials">
    <ExternalLink link="https://twitter.com/fly_highup_air">
      Twitter
    </ExternalLink>
    <ExternalLink link="https://github.com/hakshu25">GitHub</ExternalLink>
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem;
    text-align: center;
    color: var(--gray);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color 0.2s ease-in-out;
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentcolor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-flow: row wrap;
      gap: 1rem;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
