---
import Logo from './Logo.astro';
---

<header class="nav-header">
  <Logo width={120} height={120} />
  <nav>
    <ul class="nav-items">
      <li class="nav-item"><a href="#about">About</a></li>
      <li class="nav-item"><a href="#experience">Experience</a></li>
      <li class="nav-item"><a href="#skills">Skills</a></li>
      <li class="nav-item"><a href="#services">Services</a></li>
      <li class="nav-item"><a href="#works">Works</a></li>
      <li class="nav-item"><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<style>
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255 255 255 / 90%);
    height: 80px;
    position: sticky;
    top: 0;
    backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    transition: transform 0.3s ease-out;
  }

  .hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
  }

  .nav-item {
    padding: 10px;
    list-style: none;
  }

  .nav-item > a {
    text-decoration: none;
    color: #000;
  }
</style>

<script>
  import { throttle } from 'lodash';

  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener('click', function (this: Element, e) {
      e.preventDefault();

      const attr = this.getAttribute('href');
      if (attr === null) {
        return;
      }

      const target = document.querySelector(attr);
      if (target === null) {
        return;
      }

      target.scrollIntoView({
        behavior: 'smooth',
      });
    });
  });

  /**
   * ヘッダーの表示・非表示をスクロール時に切り替える
   */
  const toggleHeaderOnScroll = () => {
    const header = document.querySelector('.nav-header');
    let lastScrollPosition = 0;

    if (header !== null) {
      const scrollHandler = () => {
        const currentScrollPosition = window.pageYOffset;
        if (currentScrollPosition < lastScrollPosition) {
          // 上にスクロール中
          header.classList.remove('hidden');
        } else {
          // 下にスクロール中
          header.classList.add('hidden');
        }
        lastScrollPosition = currentScrollPosition;
      };
      // 負荷を極端にかけないようにスクロール時の処理を遅延させる
      window.addEventListener('scroll', throttle(scrollHandler, 500));
    }
  };
  toggleHeaderOnScroll();
</script>
