---
import { Icon } from 'astro-icon';
---

<header class="nav-header">
  <div class="menu-icons">
    <picture>
      <source
        srcset="/assets/logo_50x50.png"
        type="image/png"
        media="(max-width: 640px)"
      />
      <img src="/assets/logo_70x70.png" alt="翔ラボのロゴ" />
    </picture>
    <button id="menu-button" class="menu-button" aria-label="menu button"
      ><Icon name="tabler:menu-2" /></button
    >
  </div>
  <nav id="menu" class="nav-items">
    <slot />
  </nav>
</header>

<style>
  .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(255 255 255 / 90%);
    height: 80px;
    top: 0;
    backdrop-filter: saturate(180%) blur(5px);
    border-bottom: 1px solid rgb(0 0 0 / 10%);
    transition: transform 0.3s ease-out;
  }

  .hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: var(--text-base);
  }

  .menu-button {
    display: none;
  }

  @media screen and (width <= 640px) {
    .nav-header {
      flex-direction: column;
      height: auto;
      width: 100vw;
    }

    .menu-icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    .nav-items {
      display: none;
    }

    .nav-items.shown {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: auto;
      font-size: var(--text-xl);
      padding: 0;
    }

    .menu-button {
      display: block;
      width: 50px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
</style>

<script>
  const toggleMenu = () => {
    const menu = document.getElementById('menu');
    if (menu === null) {
      return;
    }

    if (menu.classList.contains('shown')) {
      closeMenu(menu);
    } else {
      openMenu(menu);
    }
  };

  const openMenu = (menu: Element) => {
    menu.classList.add('shown');
    document.body.style.overflow = 'hidden';
    document.body.style.position = 'fixed';
  };

  const closeMenu = (menu: Element) => {
    menu.classList.remove('shown');
    document.body.style.overflow = '';
    document.body.style.position = '';
  };

  document.querySelectorAll('a[href^="#"]').forEach((anchor: Element) => {
    anchor.addEventListener('click', function (this: Element, e: Event) {
      e.preventDefault();

      const attr = this.getAttribute('href');
      if (attr === null) {
        return;
      }

      const target = document.querySelector(attr);
      if (target === null) {
        return;
      }

      const menu = document.getElementById('menu');
      if (menu !== null && menu.classList.contains('shown')) {
        closeMenu(menu);
      }
      target.scrollIntoView({
        behavior: 'smooth',
      });
    });
  });

  const menuBtn = document.getElementById('menu-button');
  if (menuBtn !== null) {
    menuBtn.addEventListener('click', toggleMenu);
  }
</script>
