---
import type { ServiceInfo } from '../common/types';

type Props = ServiceInfo;

const { imgSrc, imgAlt, title, description } = Astro.props;
---

<div class="container">
  <img
    src={imgSrc}
    alt={imgAlt}
    width="320"
    height="276"
    loading="lazy"
    decoding="async"
  />
  <div class="service">
    <h3 class="title">{title}</h3>
    <p>
      {description}
    </p>
  </div>
</div>

<style>
  .container {
    display: flex;
    align-items: center;
    word-break: break-all;
  }

  .service {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .title {
    margin-bottom: 8px;
    text-decoration: underline 0.3em rgb(178 190 234 / 40%);
    text-underline-offset: -0.2em;
    text-decoration-skip-ink: none;
  }

  @media (width <= 768px) {
    .container {
      flex-direction: column;
    }

    .service {
      align-items: center;
      margin-left: 0;
    }

    .service > p {
      font-size: 1.2rem;
    }

    .title {
      font-size: 1.6rem;
    }

    .image {
      margin-bottom: 12px;
    }
  }
</style>
