---
import SkillItem from './SkillItem.astro';

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'TypeScript',
  'Ruby',
  'Git',
  'Docker',
  'Terraform',
  'AWS',
  'Next.js',
  'React',
  'Angular',
  'Ruby on Rails',
];
---

<div class="container">
  <ul class="list">
    {skills.map((skill) => <SkillItem skill={skill} />)}
  </ul>
</div>

<style>
  .container {
    font-size: 24px;
    margin: 24px 36px;
  }

  .list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 120px);
    column-gap: 60px;
    row-gap: 10px;
  }
</style>
