---
import SkillItem from './SkillItem.astro';

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'TypeScript',
  'Ruby',
  'Git',
  'Docker',
  'Terraform',
  'AWS',
  'Next.js',
  'React',
  'Angular',
  'Ruby on Rails',
];
---

<div class="container">
  <ul class="list">
    {skills.map((skill) => <SkillItem skill={skill} />)}
  </ul>
</div>

<style>
  .container {
    container-type: inline-size;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 160px);
    justify-content: center;
    gap: 16px;
    padding: 0;
  }

  @container (max-width: 640px) {
    .list {
      grid-template-columns: repeat(2, 160px);
      gap: 8px;
    }
  }
</style>
