---
interface Props {
  skill: string;
}

const { skill } = Astro.props;
---

<li class="item">{skill}</li>

<style>
  .item {
    list-style: none;
    background-color: var(--background-cream);
    width: 160px;
    text-align: center;
    border-radius: 6px;
  }
</style>
