---
---

<div class="container">
  <div class="catchphrase">
    <h1>Webの力で<br />未来に羽ばたく</h1>
    <p class="sub-phrase">I'm a web developer.</p>
  </div>
</div>

<style>
  .container {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('/assets/top-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .catchphrase {
    text-align: left;
    padding-left: 24px;
  }

  .sub-phrase {
    font-size: 24px;
    font-weight: 300;
  }
</style>
