---
---

<div class="container">
  <div class="catchphrase">
    <h1>Webの力で<br />未来に羽ばたく</h1>
    <p class="sub-phrase">I'm a web developer.</p>
  </div>
</div>

<style>
  @keyframes fadein-bottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .container {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('/assets/top-image-md.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    container-type: inline-size;
  }

  .catchphrase {
    text-align: left;
    padding-left: 24px;
    text-shadow: 4px 3px 3px rgb(255 255 255 / 80%);
    animation: fadein-bottom 1.5s ease-out;
  }

  .sub-phrase {
    font-size: var(--text-xl);
    font-weight: 300;
    text-shadow: 2px 1px 1px rgb(255 255 255 / 80%);
  }

  @container (max-width: 768px) {
    .sub-phrase {
      font-size: var(--text-lg);
    }
  }
</style>
