---
import Work from './Work.astro';

interface WorkInfo {
  link: string;
  imgName: string;
  imgAlt: string;
  title: string;
}

const workList: WorkInfo[] = [
  {
    link: '/work/hoge',
    imgName: 'portfolio',
    imgAlt: 'このサイトのスクリーンショット',
    title: 'このサイト',
  },
  {
    link: '/work/hoge',
    imgName: 'github-repo-search',
    imgAlt: 'GitHub Repo Search',
    title: 'GitHub Repo Search',
  },
  {
    link: '/work/hoge',
    imgName: 'blog',
    imgAlt: 'ブログ',
    title: 'ブログ',
  },
  {
    link: '/work/hoge',
    imgName: 'solargraph-docker',
    imgAlt: 'solargraph-docker',
    title: 'solargraph-docker',
  },
];
---

<div class="list">
  {
    workList.map(({ link, imgName, imgAlt, title }) => (
      <Work link={link} imgName={imgName} imgAlt={imgAlt} title={title} />
    ))
  }
</div>

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }

  @media (width <= 640px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
