---
import type { WorkInfo } from '../common/types';
import Work from './Work.astro';

const workList: WorkInfo[] = [
  {
    link: 'https://github.com/flyhighair/sholab.site',
    imgName: 'portfolio',
    imgAlt: 'このサイトのスクリーンショット',
    title: 'このサイト',
  },
  {
    link: 'https://github-repo-search-hakshu.vercel.app/',
    imgName: 'github-repo-search',
    imgAlt: 'GitHub Repo Search',
    title: 'GitHub Repo Search',
  },
  {
    link: 'https://hakshu-dev.vercel.app/',
    imgName: 'blog',
    imgAlt: 'ブログ',
    title: 'ブログ',
  },
  {
    link: 'https://github.com/flyhighair/solargraph-docker',
    imgName: 'solargraph-docker',
    imgAlt: 'solargraph-docker',
    title: 'solargraph-docker',
  },
];
---

<div class="list">
  {
    workList.map(({ link, imgName, imgAlt, title }) => (
      <Work link={link} imgName={imgName} imgAlt={imgAlt} title={title} />
    ))
  }
</div>

<style>
  .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    justify-items: center;
    gap: 2rem;
  }

  @media screen and (max-width: 640px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
</style>
