---
import Loading from '../components/Loading.astro';
import MainHead from '../components/MainHead.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="ja">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div id="loading" class="loading">
      <Loading />
    </div>
    <div id="main">
      <slot />
    </div>

    <script>
      addEventListener('load', () => {
        const loadingEl = document.getElementById('loading');
        const mainEl = document.getElementById('main');
        if (loadingEl) {
          loadingEl.classList.add('load-completed');
        }
        if (mainEl) {
          mainEl.classList.add('loaded-contents');
        }
      });
    </script>

    <style>
      @keyframes load {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      .loaded-contents {
        animation: load 2s;
      }

      .loading {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 50%;
        left: 50%;
        transition: all 1s;
        transform: translate(-50%, -50%);
        z-index: 9999;
        background-color: antiquewhite;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .load-completed {
        opacity: 0;
        visibility: hidden;
      }
    </style>
  </body>
</html>
